.content__places {
    margin: 92px auto 0;
}
@media screen and (max-width: 896px) {
    .content__places {
        margin: 88px auto 0;
    }
}
@media screen and (max-width: 544px) {
    .content__places {
        margin-top: 64px; 
    }
}