.content__photo-grid {
    margin: 92px auto 0;
}
@media screen and (max-width: 896px) {
    .content__photo-grid {
        margin-top: 88px;
    }
}
@media screen and (max-width: 544px) {
    .content__photo-grid {
        margin-top: 64px;
    }
}