.footer__copyright {
    color: #FFFFFF;
    margin: 0;
}
@media screen and (max-width: 544px) {
    .footer__copyright {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}