.intro {
    max-width: 984px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1152px) {
    .intro {
        max-width: 928px;
    }
}
@media screen and (max-width: 896px) {
    .intro {
        max-width: 720px;
    }
}
@media screen and (max-width: 544px) {
    .intro {
        max-width: 288px;
    }
}