.place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: 1s linear 0s;
    cursor: pointer;
}
.place__link:hover {
    opacity: 0.8;
  }
  @media screen and (max-width: 896px) {
    .place__link {
        max-width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .place__link {
        font-size: 14px;
    }
}
@media screen and (max-width: 544px) {
    .place__link {
        font-size: 18px;
    }
}
