.footer__link_nav {
    color: #FFFFFF;
    text-decoration: none;
    word-spacing: 18px;
    font-size: 16px;
    line-height: 18px;
}
@media screen and (max-width: 544px) {
    .footer__link_nav {
        font-size: 24px;
        line-height: 24px;
    }
}
.footer__link_nav:hover {
    transition: 1s linear 0s;
    opacity: 40%;
  }