.content__lead {
    margin: 56px auto 0;
}
@media screen and (max-width: 1152px) {
    .content__lead {
        margin: 48px auto 0;
    }
}
@media screen and (max-width: 896px) {
    .content__lead {
        margin: 48px auto 0;
    }
}
@media screen and (max-width: 544px) {
    .content__lead {
        margin: 48px 0 0 0;
    }
}